# LISTA DE EXERCÍCIO 05 – MANIPULANDO DADOS COM PANDAS (PARTE 1)

### Exercício 04 – Criando relatórios em função do arquivo dados-vendas.xlsx.

b) Com base na coluna Vendedor, construa um código que permita remover as duplicadas da coluna informada, e na sequência, filtre o dataframe e gere um relatório individual para cada vendedor. Para fazer isso, siga os procedimentos a seguir:

1. Crie uma pasta chamada relatórios-vendedores;

2. Importe a biblioteca Pandas;

3. Declare uma variável chamada path para armazenar o caminho da pasta criada;

4. Declare uma variável com o nome file para armazenar o nome doarquivo que será manipulado;

5. Crie um dataframe chamado dados e utilize o comando pd.read_excel para acessar o arquivo.

In [30]:
# Importar a biblioteca 
import pandas as pd

# Declarar as variáveis para acessar o arquivo
path = 'C:\\Users\\Administrador\\Documents\\Modelos Personalizados do Office\\Rafael Nery - Fundamentos de Big Data e Data Analytics com Python\\003 - Arquivos\\'
file = 'dados-vendas.xlsx'

# Acessar os dados do arquivo e colocar em um Data Frame
dados = pd.read_excel(path + file, sheet_name='Vendas')

6. Visualize o cabeçalho do dataframe;

In [31]:
dados.head()

,ID-Produto,Produto,Categoria,Segmento,Fabricante,Loja,Cidade,Estado,Vendedor,ID-Vendedor,Data Venda,ValorVenda
0,SKU-0000001,LG K10 TV Power,Celulares,Corporativo,LG,SP8821,São Paulo,São Paulo,Ana Teixeira,1009,2012-10-04,679.00
1,SKU-0000002,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Josias Silva,1006,2012-01-01,832.00
2,SKU-0000003,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Josias Silva,1006,2012-02-02,790.00
3,SKU-0000004,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Mateus Gonçalves,1003,2012-03-03,765.32
4,SKU-0000005,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Electrolux,SP8821,São Paulo,São Paulo,Artur Moreira,1004,2012-04-04,459.89

7. 
Crie um dataframe chamado df_vendedores, para atribuir valores a ele você deve selecionar apenas a coluna Vendedores e remover as duplicadas do mesmo. Confirme se realmente o comando removeu as duplicadas. 

Após isso, crie uma lista com o seguinte nome listaVendedores, essa lista deve receber os dados do dataframe df_vendedores. Para isso, você deve converter o dataframe em lista, utilize o comando dataframe.tolist().

In [32]:
# Seleciona apenas a coluna vendedor e remove as duplicatas 
df_vendedores = dados['Vendedor'].drop_duplicates()

# Converter o Pandas SERIES em uma lista 
lista_vendedores = df_vendedores.tolist()

lista_vendedores

['Ana Teixeira',
 'Josias Silva',
 'Mateus Gonçalves',
 'Artur Moreira',
 'Rodrigo Fagundes',
 'Fernando Zambrini',
 'André Pereira',
 'Maria Fernandes',
 'Aline Sutter']

8. 
Construa uma estrutura de repetição (FOR) para que a variável vendedor receba os nomes que estão na lista listaVendedores e filtre o dataframe dados, utilizando a coluna Vendedores para que gere um novo dataframe (df_final) para cada vendedor. Ainda na estrutura de repetição, você deve inserir uma linha de código para gerar um arquivo em Excel para cada vendedor, utilize o comando dataframe.to_excel. Você deve converter o dataframe em lista, utilize o comando dataframe.tolist().

In [33]:
# Estrutura para gerar os arquivos de forma automática
for vendedores in lista_vendedores:

    df_final = dados[dados['Vendedor'] == vendedores]
    path_new = path + '...Relatório Vendedores\\'

    # Salvar o arquivo na pasta
    df_final.to_excel(path_new + vendedores + '.xlsx', index= False)

9. 
Construa uma estrutura de repetição (FOR) para que a variável vendedor receba os nomes que estão na lista listaVendedores e filtreo dataframe dados, utilizando a coluna Vendedores para
que gere um novo dataframe (df_final) para cada vendedor. Ainda na estrutura de repetição, você deve inserir uma linha de código para gerar um arquivoem Excel para cada vendedor, utilize o comando dataframe.to_excel. 

c) Repita esse procedimento para os campos Categoria, Segmento, Fabricante, Cidade e Estado. Reescreva todo o código para cada caso, com o objetivode exercitar a sintaxe dos comandos.

In [34]:
dados.head()

,ID-Produto,Produto,Categoria,Segmento,Fabricante,Loja,Cidade,Estado,Vendedor,ID-Vendedor,Data Venda,ValorVenda
0,SKU-0000001,LG K10 TV Power,Celulares,Corporativo,LG,SP8821,São Paulo,São Paulo,Ana Teixeira,1009,2012-10-04,679.00
1,SKU-0000002,Geladeira Duplex,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Josias Silva,1006,2012-01-01,832.00
2,SKU-0000003,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Josias Silva,1006,2012-02-02,790.00
3,SKU-0000004,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Brastemp,SP8821,São Paulo,São Paulo,Mateus Gonçalves,1003,2012-03-03,765.32
4,SKU-0000005,Lavadora 11 Kg,Eletrodomésticos,Doméstico,Electrolux,SP8821,São Paulo,São Paulo,Artur Moreira,1004,2012-04-04,459.89

In [35]:
# Categoria 
df_categoria = dados['Categoria'].drop_duplicates()

lista_categoria = df_categoria.tolist()

for categoria in lista_categoria:
    df_final = dados[dados['Categoria'] == categoria ]
    path_neew = path + '...Relatório Categoria\\'
    df_final.to_excel(path_neew + categoria + '.xlsx', index= False)

In [36]:
# Segmento
df_seg = dados['Segmento'].drop_duplicates()

list_seg = df_seg.tolist()

for segmento in list_seg:
    df_final = dados[dados['Segmento'] == segmento]
    path_neww = path + '...Relatório Segmentos\\'
    df_final.to_excel(path_neww + segmento + '.xlsx', index= False)

In [43]:
# Fabricante
df_fab = dados['Fabricante'].drop_duplicates()
list_fab = df_fab.tolist()

for fabricante in list_fab:
    df_final = dados[dados['Fabricante'] == fabricante]
    pathnew = path + '...Relatório Fabricante\\'
    df_final.to_excel(pathnew + fabricante + '.xlsx', index= False)

In [50]:
# Cidade
df_city = dados['Cidade'].drop_duplicates()
list_city = df_city.tolist()

for cidade in list_city:
    df_final = dados[dados['Cidade'] == cidade]
    paathnew = path + '...Relatório Cidade\\'
    df_final.to_excel(paathnew + cidade + '.xlsx', index= False)

In [56]:
# Estado
df_est = dados['Estado'].drop_duplicates()
list_est = df_est.tolist()

for estado in list_est:
    df_final = dados[dados['Estado'] == estado]
    pathhnew = path + '...Relatório Estado\\'
    df_final.to_excel(pathhnew + estado + '.xlsx', index= False)